header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    padding: 10px 40px 10px 40px;
    background-color: #282c34;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}